# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Model or large data directories
gemma-3-1b-it/


# OS-specific files
.DS_Store
Thumbs.db

data/output/
data/input/

data/output/runs/
!data/output/runs/*.dvc


